@use "./variable" as v;
@use "./mediaquery" as m;

// pc font size
@mixin font($size: 10, $height: 10, $spacing: 0, $weight: 900) {
	font-size: calc($size / 16 * 1rem);
	line-height: calc($height / $size);
	letter-spacing: calc($spacing / 1000 * 1em);
	font-weight: $weight;
}

//inner
@mixin inner {
  // width: v.$layout-width-canvas;
  max-width: 100%;
  padding: 0 v.$pd-x-pc;
  margin: 0 auto;

  @include m.tabletS {
    padding: 0 v.$pd-x-sp
  }
}

$font-size: v.$fs/1px;
//size変換
@function rem($pixels) {
  @return ($pixels / $font-size * 1rem);
}