/*==========================================================
keyframe
==========================================================*/
@use './_variable.scss' as v;
@keyframes anim-close {
  0% {
    display: block;
    transform: translate3d(0,0,0);
    opacity: 1;
  }

  99% {
    display: block;
    transform: translate3d(0,-(1rem),0);
    opacity: 0;
  }

  100% {
    display: none;
    transform: translate3d(0,0,0);
    opacity: 0;
  }
}

@keyframes anim-open {
  0% {
    display: none;
    transform: translate3d(0,-(1rem),0);
    opacity: 0;
  }

  1% {
    display: block;
    transform: translate3d(0,-(1rem),0);
    opacity: 0;
  }

  30% {
    display: block;
    transform: translate3d(0,0,0);
    opacity: 1;
  }

  45% {
    display: block;
    transform: translate3d(0,.5rem,0);
    opacity: 1;
  }

  60% {
    display: block;
    transform: translate3d(0,-.5rem,0);
    opacity: 1;
  }

  75% {
    display: block;
    transform: translate3d(0,.5rem,0);
    opacity: 1;
  }

  90% {
    display: block;
    transform: translate3d(0,0,0);
    opacity: 1;
  }

  100% {
    display: block;
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@keyframes img-anim-circle {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes img-anim-check {
  0% {
    transform: translate3d(0) scale(0);
    opacity: 0;
  }

  50% {
    transform: translate3d(0) scale(1);
    opacity: 1;
  }

  60% {
    transform: translate3d(0, 1rem, 0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate3d(0) scale(1);
    opacity: 1;
  }
}

@keyframes img-anim-exclamation {
  0% {
    transform: translate3d(0) scale(0);
    opacity: 0;
  }

  50% {
    transform: translate3d(0) scale(1);
    opacity: 1;
  }

  60% {
    transform: translate3d(0.4rem, 0, 0) scale(1);
    opacity: 1;
  }

  70% {
    transform: translate3d(-0.4rem, 0, 0) scale(1);
    opacity: 1;
  }

  80% {
    transform: translate3d(0.4rem, 0, 0) scale(1);
    opacity: 1;
  }

  90% {
    transform: translate3d(-0.4rem, 0, 0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate3d(0) scale(1);
    opacity: 1;
  }
}

@keyframes header-top {
  0% {
    transform: translateY(-20rem);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes header-fix {
  0% {
    transform: translateY(-20rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes box-menu {
  0% {
    transform: translateY(20rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes anim-close-right {
  0% {
    display: block;
    transform: translate3d(0,0,0);
    opacity: 1;
  }

  99% {
    display: block;
    transform: translate3d(100vw,0,0);
    opacity: 1;
  }

  100% {
    display: none;
    transform: translate3d(100vw,0,0);
    opacity: 1;
  }
}

@keyframes anim-close-menu-right {
  0% {
    display: block;
    transform: translate3d(0,0,0);
    opacity: 1;
  }

  99% {
    display: block;
    transform: translate3d(500rem,0,0);
    opacity: 1;
  }

  100% {
    display: none;
    transform: translate3d(500rem,0,0);
    opacity: 1;
  }
}

@keyframes anim-open-right {
  0% {
    display: none;
    transform: translate3d(41rem,0,0);
    opacity: 1;
  }

  1% {
    display: block;
    transform: translate3d(41rem,0,0);
    opacity: 1;
  }

  100% {
    display: block;
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@keyframes loading {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate((v.$loading_logo - v.$loading_bar), 0);
  }
}

@keyframes loadingBarAnim {
  0% {
    left: -50%;
  }

  100% {
    left: 100%;
  }
}

@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes anim-main-window-close-right {
  0% {
    display: block;
    transform: translate3d(0,0,0);
    opacity: 1;
  }

  99% {
    display: block;
    transform: translate3d(100%,0,0);
    opacity: 1;
  }

  100% {
    display: none;
    transform: translate3d(100%,0,0);
    opacity: 1;
  }
}

@keyframes anim-main-window-open-right {
  0% {
    display: none;
    transform: translate3d(100%,0,0);
    opacity: 1;
  }

  1% {
    display: block;
    transform: translate3d(100%,0,0);
    opacity: 1;
  }

  100% {
    display: block;
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}
@keyframes modal-slide-show {
  0% {
    transform: translate3d(2.4rem, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}