// ベース色
$color-main: #efa336;
$color-accent: #e65100;
$color-background: #fff;
$color-text: #424242;
$color-text-lead: #757575;

// 透過度
$opacity: 0.6;

// ヘッダー
$header-background: #fff;
$header-color: #fff;

// フッター
$footer-background: #666;

// button
$btn-background: #757575;
$btn-color: #fff;
$btn-hover: #000;