/* c-btn
----------------------------------------------------------------- */
@use "sass:map";
@use "../../global/" as g;

.c-btn {
  width: 200px;
  max-width: 100%;
  margin: 0 auto;
  background: g.$btn-color;
  box-shadow: g.$header-contact;
  transition: all g.$transition;

  &:hover {
    background: g.$btn-hover;
  }

  &__page-top {
    position: fixed;
    bottom: g.rem(20);
    right: g.rem(20);
    width: g.rem(50);
    height: g.rem(50);
    border-radius: 50%;
    background: #000;
    transition: g.$transition;

    &:hover {
      background: #3df;
    }
  }
}