/* header
----------------------------------------------------------------- */
@use "sass:map";
@use "../../global" as g;

.c-header {
  height: g.$header_height;
  z-index: map.get(g.$layer, header);
  background: g.$header_color;

  &__inner {
    height: g.$header_height;
    padding-inline: g.$header_inner;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    width: 100%;
    height: inherit;
  }

  &__logo-link {
    width: fit-content;
    height: inherit;
  }

  &__logo-img {
    width: auto;
    height: 100%;
  }

  &__nav-item {
    padding: 10px;
    font-family: g.$font-en;
    transition: all g.$transition;
    @include g.font(24, 24, 0, 300);

    span {
      @include g.font(12, 16, 0, 300);
      margin-left: 0.5rem;
    }

    &:hover {
      opacity: g.$opacity;
      color: g.$color-accent;
    }
  }

  &__hamburger {
    display: none;
    @include g.tabletS {
      display: block;
    }
  }

  &__contact {
    //
    @include g.tabletS {
      margin-inline: auto;
      width: fit-content;
    }
  }
}
