/* nav
----------------------------------------------------------------- */
@use "sass:map";
@use '../../global' as g;

.c-nav {
  display: contents;
  width: 100%;
  height: fit-content;
  position: fixed;
  inset: 0;
  padding: 80px 2rem 2rem;
  background: g.$drawer_menu;
  z-index: map.get(g.$layer, floating);
  transform: translateY(-110%);
  transition: transform 0.5s ease 0s;
  @include g.tabletS {
    display: block;
  }

  &.is-active {
    transform: translateY(0%);
    transition: all g.$transition;
  }

  &__bg {
    position: relative;
    display: none;
    width: 100vw;
    height: 100vh;
    background: g.$color-background;

    &.is-active {
      display: block;
    }
  }
}